GraphQL-API/nodeBackend/node_modules/
GraphQL-API/nodeBackend/package-lock.json
REST-API/nodeBackend/node_modules/
REST-API/nodeBackend/package-lock.json
# React-Frontend/.eslintrc.cjs
# React-Frontend/.gitignore
# React-Frontend/README.md
# React-Frontend/package-lock.json
# React-Frontend/public/
# React-Frontend/src/assets/
# React-Frontend/vite.config.js       


# Local Netlify folder
.netlify
